<!doctype html>
<html class="no-js" lang="" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Carlostream</title>
        <meta name="description" content="Carlostream - A melhor plataforma de streaming de videos">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body class="text-center home-landing" id="main">
        <div class="d-flex w-100 h-100 p-3 mx-auto flex-column" id="app">
            <header class="masthead mb-auto">
                <div class="inner">
                    <a href="/"><h3 class="masthead-brand">Carlostream</h3></a>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" v-if="user !== null" href="/filmes.html">Filmes</a>
                        <a class="nav-link" v-if="user !== null" href="/series.html">Series</a>
<a class="nav-link" v-if="user !== null" :href="'/cadastrar_usuario.html?acao=Alterar&idUsuario=' + user.id">{{ user.sub }} </a>
                        <a class="nav-link" v-if="user !== null" href="/login.html">Fazer Logout</a>
                        <a class="nav-link" v-if="user === null" href="/login.html">Fazer Login</a>
                        <a class="nav-link" v-if="user === null" href="/cadastrar_usuario.html">Cadastrar</a>
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                <h1 class="cover-heading">É hora do <del>duelo</del> Carlostream</h1>
                <p class="lead">Carlostream é a maior plataforma de stream de vídeos da minha rua.</p>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Carlostream₢</p>
                </div>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
        <script>
var app = new Vue({
    el: '#app',
    data: {
        conteudos: [],
        user: getUser(),
    }
});
        </script>
    </body>
</html>
